$fontserif: 'Times new roman', 'Times', serif;
$font: 'Helvetica', 'Arial', sans-serif;

$baseColor: #EAEAEA;
$secondColor: #FDFDFD;

$bp-tablet: 480px;
$bp-desktop: 768px;
$bp-desktop: 1024px;
$bp-desktop-large: 1200px;
