$borderColor: #6A6A6A;
$bgColor: #fff;
$textColor: #333;

@mixin baseInput {
  font-size: 1.6rem;
  width: 100%;
  border: 1px solid $borderColor;
  border-radius: 2px;
  outline: none;
  background: $bgColor;
  padding: .9rem 1rem;
  color: $textColor;
}

.formInput-text {
  @include baseInput;
}

.formInput-select {
  @include baseInput;
}

.formInput-number {
  @include baseInput;
}

.formInput-submit {
  
}
